* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1660px;
  padding: 0 30px;
}

.section__title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.text-accent {
  width: fit-content;
  color: transparent;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: clamp(30px, calc(38 / 1600 * 100vw), 38px);
  font-weight: bold;
}

/* Page top block */

.page-top-content {
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 60px;
  background-image: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}

.page-top-content::before,
.page-top-content::after {
  content: "";
  position: absolute;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
}

.page-top-content::before {
  top: 100%;
  right: 20px;
  left: 20px;
  background-color: #cacadb;
}

.page-top-content::after {
  top: calc(100% + 10px);
  right: 40px;
  left: 40px;
  background-color: #e7e7f2;
}

/* HEADER */
.header {
  min-height: 100vh;
  display: flex;
  padding-bottom: 30px;
  background-image: url("../images/logo-symbol.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.header-top-bar {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.header-logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.header__logo {
  width: 70px;
}

.header__logo img {
  width: 100%;
}

.header-nav__open img {
  display: block;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  padding: 10px 15px;
  background-color: rgba(245, 245, 250, 0.2);
}

.header-lang-list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}

.header-lang__item {
  padding: 5px 7px;
  border-radius: 8px;
  cursor: pointer;
}

.header-lang__item--active {
  background-color: #f0145a;
}

.header__phone {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.header__phone:hover {
  color: #f0145a;
}

.header__address,
.header__social {
  display: none;
}

.header-nav {
  display: flex;
  flex-direction: column;
  gap: 11px;
  position: fixed;
  right: 0;
  top: 100%;
  left: 0;
  transform: translateY(0%);
  padding: 64px 20px 20px;
  background: #fff;
  border-radius: 12px 12px 0px 0px;
  transition: transform 0.5s;
}

#header-nav__trigger {
  display: none;
}

#header-nav__trigger:checked + .header-nav {
  transform: translateY(-100%);
}

.header-nav__link {
  padding: 9px 18px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #24a3ff;
  background: #f5f5fa;
  border-radius: 12px;
  text-decoration: none;
}

.header-nav__link:hover,
.header-nav__link--active {
  color: #f0145a;
}

.header-nav__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.header-slogan {
  padding: 0 30px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #fff;
  text-align: center;
}

.scroll-bottom-btn {
  text-align: center;
}

/* EXPERIENCE */
.experience {
  padding: 30px 0;
  overflow-x: hidden;
}

.experience__list {
  display: flex;
  gap: 30px;
  margin: 0;
  padding-left: 0;
  padding-bottom: clamp(30px, calc(60 / 1600 * 100vw), 60px);
  list-style: none;
  font-size: clamp(30px, calc(38 / 1600 * 100vw), 38px);
  color: #b3b3ba;
}

.experience__item {
  font-weight: bold;
  line-height: 37px;
  white-space: nowrap;
}

.experience__descr {
  padding-top: clamp(30px, calc(60 / 1600 * 100vw), 60px);
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.experience__title {
  margin: 0;
  font-size: clamp(20px, calc(30 / 1600 * 100vw), 30px);
  line-height: 24px;
}

.experience__text {
  margin: 30px 0 0;
  font-size: 19px;
  line-height: 30px;
}

/* SERVICES */
.services__slogan {
  margin: 10px 0 0;
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  margin-top: clamp(30px, calc(60 / 1600 * 100vw), 60px);
  padding-left: 0;
  list-style: none;
}

.service__item {
  --item-quantity: 1;
  flex-grow: 1;
  flex-basis: calc(100% / var(--item-quantity) - 60px);
}

.service__icon {
  width: 92px;
  height: 92px;
  padding: 14px;
  background-color: #fff;
  border-radius: 24px;
}

.service__title {
  margin: 30px 0 0;
  font-size: 22px;
  line-height: 27px;
  color: #24a3ff;
}

.service__descr {
  margin: 15px 0 0;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

/* TEAM */
.team {
  padding: 30px 0 30px;
}

.team-card__trigger {
  display: none;
}

.cards-wrapper {
  overflow-x: hidden;
}

.team-cards {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  transition: transform 0.5s ease-out;
}

#team-1:checked ~ .cards-wrapper .team-cards {
  transform: translateX(0%);
}

#team-2:checked ~ .cards-wrapper .team-cards {
  transform: translateX(-100%);
}

#team-3:checked ~ .cards-wrapper .team-cards {
  transform: translateX(-200%);
}

.team__card {
  display: flex;
  flex-shrink: 0;
  flex-basis: 100%;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

.team-card__image {
  flex-basis: 500px;
  position: relative;
}

.team-card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.team-card__text {
  padding: 30px;
  background-color: #f5f5fa;
}

.team-card__slogan {
  margin: 5px 0 0;
}

.team-card__person {
  margin: 30px 0 0;
  font-size: 16px;
  line-height: 20px;
  color: #b3b3ba;
}

.team-card__rank {
  margin: 6px 0 0;
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
}

.card-switchers {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0 0;
  padding-left: 0;
  list-style: none;
}

.card__switcher {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(36, 163, 255, 0.2);
  cursor: pointer;
}

#team-1:checked ~ .card-switchers li:nth-child(1) .card__switcher,
#team-2:checked ~ .card-switchers li:nth-child(2) .card__switcher,
#team-3:checked ~ .card-switchers li:nth-child(3) .card__switcher,
.card__switcher:hover {
  background-color: rgba(36, 163, 255, 1);
}

/* CLIENTS*/
.clients-title {
  text-align: center;
  color: #323264;
}

.clients-list {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0;
  padding-left: 0px;
  list-style: none;
}

.clients-item {
  height: 120px;
  padding: 22px;
  flex-grow: 1;
  flex-basis: 25%;
  background-color: lightgrey;
}

.client-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.clients-item--hillel {
  background-color: #1c4280;
}

.clients-item--wannabiz {
  background-color: #143646;
}

.clients-item--tapgerine {
  background-color: #f48b30;
}

.clients-item--3dlook {
  background-color: #9e4dc3;
}

.clients-item--orangear {
  background-color: #fd9339;
}

.clients-item--adtelligent {
  background-color: #e2e2e4;
}

.clients-item--clikky {
  background-color: #c71c36;
}

.clients-item--ecoleasing {
  background-color: #dcf3f9;
}

.clients-item--infratek {
  background-color: #eaeaea;
}

.clients-item--citypark {
  background-color: #282240;
}

.clients-item--artprint {
  background-color: #1d4568;
}

.clients-item--ultimatecard {
  background-color: #000;
}

/* PUBLICATIONS */
.publications {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5fa;
}
.publication-cards {
  margin: 0;
  margin-top: 30px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 8px;
  list-style: none;
}

.publication__card {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.section__title-2 {
  font-size: 16px;
  color: #24a3ff;
}

.publication-card__data {
  padding-top: 15px;
  font-size: 12px;
  color: #b3b3ba;
  text-transform: uppercase;
}

.publication-card__descr {
  font-style: 14px;
  line-height: 22px;
  border-top: 4px solid #e6e6f0;
}

.publication-card__image {
  height: 200px;
  position: relative;
}

.publication-card__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.publication-card__text {
  padding: 30px;
}

/* FOOTER */
.footer-container {
  padding-top: 15px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5fa;
  /* border-top: 2px solid #e6e6f0; */
}

.footer-border {
  width: 100%;
  height: 1px;
  border-top: 2px solid #e6e6f0;
}

.footer__coordinats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer__address {
  color: #323264;
  font-style: 16px;
  line-height: 19px;
}

.footer__map {
  font-style: 12px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  color: #24a3ff;
}

.copyright {
  order: 10;
  font-style: 16px;
  color: #b3b3ba;
}

.footer__contacts {
  margin-top: 21px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer__social {
  text-decoration: none;
}

.footer__social svg {
  fill: #24a3ff;
}

.footer__phone-number {
  font-style: 16px;
  font-weight: 700;
  color: #46466e;
  text-decoration: none;
}

.footer__mail {
  font-style: 16px;
  font-weight: 700;
  color: #24a3ff;
  text-decoration: none;
}
