@media screen and (min-width: 1024px) {
  /* HEADER */
  .header-top-bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo-wrapper {
    padding: 0;
  }

  .header-nav {
    position: static;
    justify-content: flex-end;
    margin-top: 16px;
  }

  /* EXPERIENCE */
  .experience .container {
    display: flex;
  }

  .experience__list {
    flex-direction: column;
    padding-bottom: 0;
    padding-right: 60px;
    text-align: right;
  }

  .experience__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-left: 60px;
    border-top: none;
    border-left: 4px solid rgba(255, 255, 255, 0.3);
  }

  /* SERVICE */
  .service__item {
    --item-quantity: 3;
  }

  /* TEAM */
  .team__card {
    flex-direction: row;
  }

  .team-card__image {
    flex-shrink: 0;
    flex-basis: 400px;
  }

  /* CLIENTS */
  .clients-item {
    flex-basis: calc(100% / 4);
  }

  /* PUBLICATIONS */
  .publication__card {
    flex-basis: calc(100% / 3 - 30px);
  }
}
